## 0. Loading packages and dataset

In [ ]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use('seaborn-darkgrid')

In [ ]:
# read in data
train = pd.read_csv('train_V2.csv')
score = pd.read_csv('score.csv')
#dictionary = pd.read_csv('dictionary.csv')

## 1. Data exploration

1. and 2: number of features and observations

In [59]:
train.shape

(5000, 53)

In [60]:
score.shape

(500, 50)

In [53]:
train.head()

,income_am,profit_last_am,profit_am,damage_am,damage_inc,crd_lim_rec,credit_use_ic,gluten_ic,lactose_ic,insurance_ic,...,score2_neg,score3_pos,score3_neg,score4_pos,score4_neg,score5_pos,score5_neg,outcome_profit,outcome_damage_inc,outcome_damage_amount
0,227.0,0.0,3201.0,888.0,6.0,15000.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,0.838147,0.082288,NaN,NaN,1791.66,0,0.00
1,268.0,16.0,1682.0,0.0,0.0,750.0,0.0,0.0,0.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,7.955259,1672.78,1,829.66
2,283.0,23.0,1673.0,0.0,0.0,750.0,0.0,0.0,0.0,1.0,...,0.099529,NaN,NaN,NaN,NaN,0.101955,1.743020,1001.40,0,0.00
3,227.0,0.0,1685.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,0.889793,NaN,NaN,NaN,NaN,1785.59,0,0.00
4,4091.0,1028.0,3425.0,785.0,2.0,14000.0,0.0,0.0,1.0,0.0,...,NaN,0.330503,0.766294,0.490486,0.542445,NaN,NaN,3140.74,0,0.00

In [54]:
score.head()

,income_am,profit_last_am,profit_am,damage_am,damage_inc,crd_lim_rec,credit_use_ic,gluten_ic,lactose_ic,insurance_ic,...,score1_pos,score1_neg,score2_pos,score2_neg,score3_pos,score3_neg,score4_pos,score4_neg,score5_pos,score5_neg
0,5660.0,4320.0,8640.0,0.0,0.0,8000.0,0.0,0.0,1.0,0.0,...,0.538419,0.396819,0.423742,0.763608,NaN,NaN,NaN,NaN,NaN,NaN
1,3990.0,9.0,3450.0,0.0,0.0,12500.0,0.0,0.0,0.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1158.0,82.0,4194.0,408.0,4.0,12000.0,0.0,0.0,0.0,1.0,...,0.009811,0.592842,NaN,NaN,0.252444,0.724693,0.818064,0.387361,NaN,NaN
3,2451.0,791.0,2119.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,946.0,222.0,2036.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [55]:
train.describe()

,income_am,profit_last_am,profit_am,damage_am,damage_inc,crd_lim_rec,credit_use_ic,gluten_ic,lactose_ic,insurance_ic,...,score2_neg,score3_pos,score3_neg,score4_pos,score4_neg,score5_pos,score5_neg,outcome_profit,outcome_damage_inc,outcome_damage_amount
count,4947.000000,4947.000000,4947.000000,4954.000000,4947.000000,4947.000000,4947.000000,4947.000000,4947.000000,4947.000000,...,1.304000e+03,1.261000e+03,1.367000e+03,1.223000e+03,1.324000e+03,1.232000e+03,1493.000000,5000.000000,5000.000000,5000.000000
mean,2281.260158,696.057712,3637.900950,145.952967,0.352335,3298.716394,0.041237,0.024661,0.094199,0.390944,...,4.967340e-01,4.942801e-01,4.985876e-01,4.962065e-01,5.013962e-01,5.009593e-01,5.192953,1967.310930,0.255400,189.970736
std,8365.254507,3051.119275,5726.625669,581.068095,0.889449,4549.646039,0.198858,0.155107,0.292134,0.488011,...,2.897994e-01,2.899165e-01,2.877292e-01,2.886538e-01,2.876226e-01,2.901323e-01,3.159868,1371.061266,0.436129,379.005941
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000e-07,1.000000e-07,1.000000e-07,1.000000e-07,1.000000e-07,1.000000e-07,-7.871775,10.680000,0.000000,0.000000
25%,229.000000,0.000000,1638.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,2.454209e-01,2.405574e-01,2.495061e-01,2.474100e-01,2.506703e-01,2.514905e-01,3.124958,1333.320000,0.000000,0.000000
50%,469.000000,52.000000,1889.000000,0.000000,0.000000,1500.000000,0.000000,0.000000,0.000000,0.000000,...,4.985832e-01,4.942465e-01,5.016458e-01,4.933486e-01,5.020603e-01,5.029121e-01,5.188006,1721.235000,0.000000,0.000000
75%,1688.000000,810.000000,3165.500000,0.000000,0.000000,5000.000000,0.000000,0.000000,0.000000,1.000000,...,7.474935e-01,7.449235e-01,7.464826e-01,7.452133e-01,7.493876e-01,7.512817e-01,7.357425,2223.712500,1.000000,202.612500
max,360577.000000,150537.000000,100577.000000,14866.000000,10.000000,30000.000000,1.000000,1.000000,1.000000,1.000000,...,9.986510e-01,9.999999e-01,9.999999e-01,9.999999e-01,9.993125e-01,9.999999e-01,14.776319,31529.000000,1.000000,3157.240000

In [56]:
score.describe()

,income_am,profit_last_am,profit_am,damage_am,damage_inc,crd_lim_rec,credit_use_ic,gluten_ic,lactose_ic,insurance_ic,...,score1_pos,score1_neg,score2_pos,score2_neg,score3_pos,score3_neg,score4_pos,score4_neg,score5_pos,score5_neg
count,496.000000,496.000000,496.000000,497.000000,496.000000,496.000000,496.000000,496.000000,496.000000,496.000000,...,122.000000,134.000000,111.000000,124.000000,136.000000,145.000000,119.000000,126.000000,132.000000,154.000000
mean,2573.516129,633.254032,3891.360887,148.293763,0.385081,3388.104839,0.034274,0.024194,0.090726,0.385081,...,0.519385,0.499418,0.501727,0.524469,0.495096,0.485360,0.537287,0.494252,0.504806,4.826028
std,7019.691435,1136.802174,5284.425448,436.478086,0.911708,4620.095504,0.182116,0.153805,0.287509,0.487106,...,0.296407,0.293777,0.281859,0.281483,0.286895,0.292992,0.288562,0.297017,0.303785,2.843074
min,227.000000,0.000000,1620.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.005318,0.016512,0.000767,0.002151,0.020657,0.009849,0.010242,0.013659,0.005136,-4.092944
25%,232.500000,0.000000,1637.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.294621,0.251502,0.279851,0.307677,0.239524,0.252781,0.301039,0.205913,0.257488,2.744401
50%,528.500000,101.500000,1955.000000,0.000000,0.000000,750.000000,0.000000,0.000000,0.000000,0.000000,...,0.531987,0.479703,0.488407,0.492698,0.498884,0.447901,0.592578,0.487373,0.469705,4.839778
75%,2223.750000,817.000000,3578.500000,0.000000,0.000000,5000.000000,0.000000,0.000000,0.000000,1.000000,...,0.777602,0.765155,0.745293,0.780450,0.775543,0.747820,0.779311,0.780295,0.796048,6.825558
max,122993.000000,9463.000000,42142.000000,3343.000000,7.000000,15000.000000,1.000000,1.000000,1.000000,1.000000,...,0.997703,1.000000,1.000000,1.000000,0.971706,0.986639,0.997018,0.985003,0.991246,12.113542

3. Datatypes

In [57]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 53 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   income_am              4947 non-null   float64
 1   profit_last_am         4947 non-null   float64
 2   profit_am              4947 non-null   float64
 3   damage_am              4954 non-null   float64
 4   damage_inc             4947 non-null   float64
 5   crd_lim_rec            4947 non-null   float64
 6   credit_use_ic          4947 non-null   float64
 7   gluten_ic              4947 non-null   float64
 8   lactose_ic             4947 non-null   float64
 9   insurance_ic           4947 non-null   float64
 10  spa_ic                 4970 non-null   float64
 11  empl_ic                4999 non-null   float64
 12  cab_requests           4912 non-null   float64
 13  married_cd             5000 non-null   bool
 14  bar_no                 4947 non-null   float64
 15  sport_ic               4947 non-null   float64
 16  neighbor_income        4761 non-null   float64
 17  age                    4947 non-null   float64
 18  marketing_permit       4947 non-null   float64
 19  urban_ic               4947 non-null   float64
 20  dining_ic              4912 non-null   float64
 21  presidential           4912 non-null   float64
 22  client_segment         4947 non-null   float64
 23  sect_empl              4947 non-null   float64
 24  prev_stay              4947 non-null   float64
 25  prev_all_in_stay       4947 non-null   float64
 26  divorce                4947 non-null   float64
 27  fam_adult_size         4947 non-null   float64
 28  children_no            4947 non-null   float64
 29  tenure_mts             4608 non-null   float64
 30  tenure_yrs             4608 non-null   float64
 31  company_ic             4947 non-null   float64
 32  claims_no              4947 non-null   float64
 33  claims_am              4973 non-null   float64
 34  nights_booked          4947 non-null   float64
 35  gender                 4947 non-null   object
 36  shop_am                4947 non-null   float64
 37  shop_use               4912 non-null   float64
 38  retired                4947 non-null   float64
 39  gold_status            4947 non-null   float64
 40  score1_pos             1225 non-null   float64
 41  score1_neg             1314 non-null   float64
 42  score2_pos             1209 non-null   float64
 43  score2_neg             1304 non-null   float64
 44  score3_pos             1261 non-null   float64
 45  score3_neg             1367 non-null   float64
 46  score4_pos             1223 non-null   float64
 47  score4_neg             1324 non-null   float64
 48  score5_pos             1232 non-null   float64
 49  score5_neg             1493 non-null   float64
 50  outcome_profit         5000 non-null   float64
 51  outcome_damage_inc     5000 non-null   int64
 52  outcome_damage_amount  5000 non-null   float64
dtypes: bool(1), float64(50), int64(1), object(1)
memory usage: 2.0+ MB

4. and 5. Missing data

In [58]:
score.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 50 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   income_am         496 non-null    float64
 1   profit_last_am    496 non-null    float64
 2   profit_am         496 non-null    float64
 3   damage_am         497 non-null    float64
 4   damage_inc        496 non-null    float64
 5   crd_lim_rec       496 non-null    float64
 6   credit_use_ic     496 non-null    float64
 7   gluten_ic         496 non-null    float64
 8   lactose_ic        496 non-null    float64
 9   insurance_ic      496 non-null    float64
 10  spa_ic            498 non-null    float64
 11  empl_ic           500 non-null    float64
 12  cab_requests      495 non-null    float64
 13  married_cd        500 non-null    bool
 14  bar_no            496 non-null    float64
 15  sport_ic          496 non-null    float64
 16  neighbor_income   479 non-null    float64
 17  age               496 non-null    float64
 18  marketing_permit  496 non-null    float64
 19  urban_ic          496 non-null    float64
 20  dining_ic         495 non-null    float64
 21  presidential      495 non-null    float64
 22  client_segment    496 non-null    float64
 23  sect_empl         496 non-null    float64
 24  prev_stay         496 non-null    float64
 25  prev_all_in_stay  496 non-null    float64
 26  divorce           496 non-null    float64
 27  fam_adult_size    496 non-null    float64
 28  children_no       496 non-null    float64
 29  tenure_mts        461 non-null    float64
 30  tenure_yrs        461 non-null    float64
 31  company_ic        496 non-null    float64
 32  claims_no         496 non-null    float64
 33  claims_am         499 non-null    float64
 34  nights_booked     496 non-null    float64
 35  gender            496 non-null    object
 36  shop_am           496 non-null    float64
 37  shop_use          495 non-null    float64
 38  retired           496 non-null    float64
 39  gold_status       496 non-null    float64
 40  score1_pos        122 non-null    float64
 41  score1_neg        134 non-null    float64
 42  score2_pos        111 non-null    float64
 43  score2_neg        124 non-null    float64
 44  score3_pos        136 non-null    float64
 45  score3_neg        145 non-null    float64
 46  score4_pos        119 non-null    float64
 47  score4_neg        126 non-null    float64
 48  score5_pos        132 non-null    float64
 49  score5_neg        154 non-null    float64
dtypes: bool(1), float64(48), object(1)
memory usage: 192.0+ KB

In [61]:
df.isnull().sum()[df.isnull().sum() != 0]

income_am             53
profit_last_am        53
profit_am             53
damage_am             46
damage_inc            53
crd_lim_rec           53
credit_use_ic         53
gluten_ic             53
lactose_ic            53
insurance_ic          53
spa_ic                30
empl_ic                1
cab_requests          88
bar_no                53
sport_ic              53
neighbor_income      239
age                   53
marketing_permit      53
urban_ic              53
dining_ic             88
presidential          88
client_segment        53
sect_empl             53
prev_stay             53
prev_all_in_stay      53
divorce               53
fam_adult_size        53
children_no           53
tenure_mts           392
tenure_yrs           392
company_ic            53
claims_no             53
claims_am             27
nights_booked         53
gender                53
shop_am               53
shop_use              88
retired               53
gold_status           53
score1_pos          3775
score1_neg          3686
score2_pos          3791
score2_neg          3696
score3_pos          3739
score3_neg          3633
score4_pos          3777
score4_neg          3676
score5_pos          3768
score5_neg          3507
dtype: int64

In [62]:
(119390- df.isnull().sum()[df.isnull().sum() != 0])/119390*100

income_am           99.955608
profit_last_am      99.955608
profit_am           99.955608
damage_am           99.961471
damage_inc          99.955608
crd_lim_rec         99.955608
credit_use_ic       99.955608
gluten_ic           99.955608
lactose_ic          99.955608
insurance_ic        99.955608
spa_ic              99.974872
empl_ic             99.999162
cab_requests        99.926292
bar_no              99.955608
sport_ic            99.955608
neighbor_income     99.799816
age                 99.955608
marketing_permit    99.955608
urban_ic            99.955608
dining_ic           99.926292
presidential        99.926292
client_segment      99.955608
sect_empl           99.955608
prev_stay           99.955608
prev_all_in_stay    99.955608
divorce             99.955608
fam_adult_size      99.955608
children_no         99.955608
tenure_mts          99.671664
tenure_yrs          99.671664
company_ic          99.955608
claims_no           99.955608
claims_am           99.977385
nights_booked       99.955608
gender              99.955608
shop_am             99.955608
shop_use            99.926292
retired             99.955608
gold_status         99.955608
score1_pos          96.838094
score1_neg          96.912639
score2_pos          96.824692
score2_neg          96.904263
score3_pos          96.868247
score3_neg          96.957032
score4_pos          96.836418
score4_neg          96.921015
score5_pos          96.843957
score5_neg          97.062568
dtype: float64

## b) Look at the data

In [63]:
train.iloc[:,0:16].head()

,income_am,profit_last_am,profit_am,damage_am,damage_inc,crd_lim_rec,credit_use_ic,gluten_ic,lactose_ic,insurance_ic,spa_ic,empl_ic,cab_requests,married_cd,bar_no,sport_ic
0,227.0,0.0,3201.0,888.0,6.0,15000.0,0.0,0.0,0.0,0.0,1.0,0.0,3.0,True,2.0,1.0
1,268.0,16.0,1682.0,0.0,0.0,750.0,0.0,0.0,0.0,1.0,1.0,0.0,7.0,True,3.0,0.0
2,283.0,23.0,1673.0,0.0,0.0,750.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,True,4.0,0.0
3,227.0,0.0,1685.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,True,8.0,1.0
4,4091.0,1028.0,3425.0,785.0,2.0,14000.0,0.0,0.0,1.0,0.0,1.0,0.0,4.0,False,2.0,1.0

In [65]:
train.iloc[:,16:53].head()

,neighbor_income,age,marketing_permit,urban_ic,dining_ic,presidential,client_segment,sect_empl,prev_stay,prev_all_in_stay,...,score2_neg,score3_pos,score3_neg,score4_pos,score4_neg,score5_pos,score5_neg,outcome_profit,outcome_damage_inc,outcome_damage_amount
0,28936.0,37.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,0.838147,0.082288,NaN,NaN,1791.66,0,0.00
1,16674.0,18.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,7.955259,1672.78,1,829.66
2,32552.0,21.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,...,0.099529,NaN,NaN,NaN,NaN,0.101955,1.743020,1001.40,0,0.00
3,32252.0,37.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,...,NaN,NaN,0.889793,NaN,NaN,NaN,NaN,1785.59,0,0.00
4,29605.0,26.0,0.0,1.0,0.0,0.0,2.0,0.0,1.0,0.0,...,NaN,0.330503,0.766294,0.490486,0.542445,NaN,NaN,3140.74,0,0.00

In [66]:
score.iloc[:,0:16].head()

,income_am,profit_last_am,profit_am,damage_am,damage_inc,crd_lim_rec,credit_use_ic,gluten_ic,lactose_ic,insurance_ic,spa_ic,empl_ic,cab_requests,married_cd,bar_no,sport_ic
0,5660.0,4320.0,8640.0,0.0,0.0,8000.0,0.0,0.0,1.0,0.0,0.0,0.0,11.0,True,6.0,1.0
1,3990.0,9.0,3450.0,0.0,0.0,12500.0,0.0,0.0,0.0,1.0,0.0,0.0,7.0,True,5.0,0.0
2,1158.0,82.0,4194.0,408.0,4.0,12000.0,0.0,0.0,0.0,1.0,1.0,0.0,10.0,True,11.0,1.0
3,2451.0,791.0,2119.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,4.0,True,5.0,0.0
4,946.0,222.0,2036.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,5.0,True,0.0,0.0

In [67]:
score.iloc[:,16:53].head()

,neighbor_income,age,marketing_permit,urban_ic,dining_ic,presidential,client_segment,sect_empl,prev_stay,prev_all_in_stay,...,score1_pos,score1_neg,score2_pos,score2_neg,score3_pos,score3_neg,score4_pos,score4_neg,score5_pos,score5_neg
0,34033.0,42.0,1.0,1.0,0.0,0.0,2.0,1.0,1.0,1.0,...,0.538419,0.396819,0.423742,0.763608,NaN,NaN,NaN,NaN,NaN,NaN
1,36372.0,42.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,37619.0,38.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,...,0.009811,0.592842,NaN,NaN,0.252444,0.724693,0.818064,0.387361,NaN,NaN
3,29266.0,66.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,36221.0,63.0,0.0,1.0,0.0,0.0,2.0,0.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [68]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 50 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   income_am         496 non-null    float64
 1   profit_last_am    496 non-null    float64
 2   profit_am         496 non-null    float64
 3   damage_am         497 non-null    float64
 4   damage_inc        496 non-null    float64
 5   crd_lim_rec       496 non-null    float64
 6   credit_use_ic     496 non-null    float64
 7   gluten_ic         496 non-null    float64
 8   lactose_ic        496 non-null    float64
 9   insurance_ic      496 non-null    float64
 10  spa_ic            498 non-null    float64
 11  empl_ic           500 non-null    float64
 12  cab_requests      495 non-null    float64
 13  married_cd        500 non-null    bool
 14  bar_no            496 non-null    float64
 15  sport_ic          496 non-null    float64
 16  neighbor_income   479 non-null    float64
 17  age               496 non-null    float64
 18  marketing_permit  496 non-null    float64
 19  urban_ic          496 non-null    float64
 20  dining_ic         495 non-null    float64
 21  presidential      495 non-null    float64
 22  client_segment    496 non-null    float64
 23  sect_empl         496 non-null    float64
 24  prev_stay         496 non-null    float64
 25  prev_all_in_stay  496 non-null    float64
 26  divorce           496 non-null    float64
 27  fam_adult_size    496 non-null    float64
 28  children_no       496 non-null    float64
 29  tenure_mts        461 non-null    float64
 30  tenure_yrs        461 non-null    float64
 31  company_ic        496 non-null    float64
 32  claims_no         496 non-null    float64
 33  claims_am         499 non-null    float64
 34  nights_booked     496 non-null    float64
 35  gender            496 non-null    object
 36  shop_am           496 non-null    float64
 37  shop_use          495 non-null    float64
 38  retired           496 non-null    float64
 39  gold_status       496 non-null    float64
 40  score1_pos        122 non-null    float64
 41  score1_neg        134 non-null    float64
 42  score2_pos        111 non-null    float64
 43  score2_neg        124 non-null    float64
 44  score3_pos        136 non-null    float64
 45  score3_neg        145 non-null    float64
 46  score4_pos        119 non-null    float64
 47  score4_neg        126 non-null    float64
 48  score5_pos        132 non-null    float64
 49  score5_neg        154 non-null    float64
dtypes: bool(1), float64(48), object(1)
memory usage: 192.0+ KB

In [69]:
score.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 50 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   income_am         496 non-null    float64
 1   profit_last_am    496 non-null    float64
 2   profit_am         496 non-null    float64
 3   damage_am         497 non-null    float64
 4   damage_inc        496 non-null    float64
 5   crd_lim_rec       496 non-null    float64
 6   credit_use_ic     496 non-null    float64
 7   gluten_ic         496 non-null    float64
 8   lactose_ic        496 non-null    float64
 9   insurance_ic      496 non-null    float64
 10  spa_ic            498 non-null    float64
 11  empl_ic           500 non-null    float64
 12  cab_requests      495 non-null    float64
 13  married_cd        500 non-null    bool
 14  bar_no            496 non-null    float64
 15  sport_ic          496 non-null    float64
 16  neighbor_income   479 non-null    float64
 17  age               496 non-null    float64
 18  marketing_permit  496 non-null    float64
 19  urban_ic          496 non-null    float64
 20  dining_ic         495 non-null    float64
 21  presidential      495 non-null    float64
 22  client_segment    496 non-null    float64
 23  sect_empl         496 non-null    float64
 24  prev_stay         496 non-null    float64
 25  prev_all_in_stay  496 non-null    float64
 26  divorce           496 non-null    float64
 27  fam_adult_size    496 non-null    float64
 28  children_no       496 non-null    float64
 29  tenure_mts        461 non-null    float64
 30  tenure_yrs        461 non-null    float64
 31  company_ic        496 non-null    float64
 32  claims_no         496 non-null    float64
 33  claims_am         499 non-null    float64
 34  nights_booked     496 non-null    float64
 35  gender            496 non-null    object
 36  shop_am           496 non-null    float64
 37  shop_use          495 non-null    float64
 38  retired           496 non-null    float64
 39  gold_status       496 non-null    float64
 40  score1_pos        122 non-null    float64
 41  score1_neg        134 non-null    float64
 42  score2_pos        111 non-null    float64
 43  score2_neg        124 non-null    float64
 44  score3_pos        136 non-null    float64
 45  score3_neg        145 non-null    float64
 46  score4_pos        119 non-null    float64
 47  score4_neg        126 non-null    float64
 48  score5_pos        132 non-null    float64
 49  score5_neg        154 non-null    float64
dtypes: bool(1), float64(48), object(1)
memory usage: 192.0+ KB

## c) Look at the descriptives
1. For which features do you suspect outliers?
2. Which of these outliers seem most suspicious? Which would you certainly check if you were able to?
3. For which years do you have an arrival date?
4. For which years do you have a reservation date?

In [70]:
train.iloc[:,0:16].head()

,income_am,profit_last_am,profit_am,damage_am,damage_inc,crd_lim_rec,credit_use_ic,gluten_ic,lactose_ic,insurance_ic,spa_ic,empl_ic,cab_requests,married_cd,bar_no,sport_ic
0,227.0,0.0,3201.0,888.0,6.0,15000.0,0.0,0.0,0.0,0.0,1.0,0.0,3.0,True,2.0,1.0
1,268.0,16.0,1682.0,0.0,0.0,750.0,0.0,0.0,0.0,1.0,1.0,0.0,7.0,True,3.0,0.0
2,283.0,23.0,1673.0,0.0,0.0,750.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,True,4.0,0.0
3,227.0,0.0,1685.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,True,8.0,1.0
4,4091.0,1028.0,3425.0,785.0,2.0,14000.0,0.0,0.0,1.0,0.0,1.0,0.0,4.0,False,2.0,1.0

In [71]:
score.iloc[:,0:16].head()

,income_am,profit_last_am,profit_am,damage_am,damage_inc,crd_lim_rec,credit_use_ic,gluten_ic,lactose_ic,insurance_ic,spa_ic,empl_ic,cab_requests,married_cd,bar_no,sport_ic
0,5660.0,4320.0,8640.0,0.0,0.0,8000.0,0.0,0.0,1.0,0.0,0.0,0.0,11.0,True,6.0,1.0
1,3990.0,9.0,3450.0,0.0,0.0,12500.0,0.0,0.0,0.0,1.0,0.0,0.0,7.0,True,5.0,0.0
2,1158.0,82.0,4194.0,408.0,4.0,12000.0,0.0,0.0,0.0,1.0,1.0,0.0,10.0,True,11.0,1.0
3,2451.0,791.0,2119.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,4.0,True,5.0,0.0
4,946.0,222.0,2036.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,5.0,True,0.0,0.0

2. Convert categorical

3. Deal with features that are damage.

## d) Plot the distributions
1. Make histograms for the numerical features
2. Make barplots for the categorical features: which features have sparse classes?

## e) Study the associations

1. Make crosstabs between the outcome 'is_canceled' and the categorical features. Use the option normalize='index' to get proportions, 
    1. Which customer_type cancels the most? 
    2. Which hotel has most cancellations?
    3. Which room type always cancels? How can you explain this?
    4. What do you notice for the feature 'reservation_status'. What will you do with this feature? Does this  have any consequences for other features?
2. Make a heat map for all continuous features

## 2. Data cleaning

In the data cleaning step, we will fix most of the issues that we noticed during the exploratory analysis.

## a) Remove unwanted observations and features
1. Remove duplicated observations
2. Remove irrelevant observations (hint: for which hotel do you work?):
3. Remove irrelevant/leaky features (hint: what did you notice during the previous excercice?)

1. Remove duplicated observations

2. Remove irrelevant observations

3. Remove irrelevant features

## b) Fix structural errors

Unless you found any structural errors, you can skip this step.

## c) Deal with unwanted outliers
1. Do you need to remove any outliers?

## d) Handle missing data
1. Find out which features still have missing data now that we only have the observations of the city hotel.
2. Impute the missing values of the continuous feature(s).
3. Is it a good idea to flag the missigness here?
4. Appoint the missing values to an extra category 'Undefined'. You will have to define the features as categorical first.
    + Why 'Undefined' instead of the usual 'Missing?'
5. Check if all the missingness is gone

1. Finding missingness

2. continuous feature(s)

4. Categorical features

5. Check