# Context – Drunk Smurfs
Among all international hotel guests, Smurfs are burdened with the upkeep of a singular reputation: they are (supposedly) the rowdiest bunch one can entertain, and are equally well-known for unbridled spending as for racking up extensive costs in damages to hotel infrastructure, staff, and occasionally also other guests – costs which typically cannot be recovered once the guest has sought out the safety of his (or her) homeland.
It is your job as a data scientist to screen applying Smurfs clients for an exclusive hotel in the Bahamas - yes, it's the kind of hotel you need to apply for!
# The data
At your disposal is a training set containing data about the behavior of 5000 Smurf hotel guests (train_V2.csv). This data set contains information about the profit the hotel made during their last visit (excluding damages), but also whether they caused damages during their last visit, and for what amount. These outcomes are respectively called 'outcome_profit', 'outcome_damage_inc', and 'outcome_damage_amount'. To predict them, you have access to a host of personal information: previous history of profits and damages, use of hotel facilities, socio-demographics and behavioral scores from the staff of other hotels within the hotel chains. A minor description of features is available in dictionary.csv.
You also get information on the 500 applicants for the 2024 season (score.csv). It is your job to return a list of 150 clients that offer an attractive balance between projected profit for the hotel, and anticipated damages. 
You will notice the data set contains a large number of oddities. You are expected to think yourself about what is intuitive and acceptable in terms of approach, and to provide some minor reflection on this in your technical report.

# Possible approach
To generate a client list, you can (but don't have to) follow the next steps:
1)	prepare the data set	
* briefly survey the data
* deal with data issues:
* appropriate handle categorical data
* treat missing data
* identify outliers, and choose whether to make your analysis more robust by removing these
2)	predict the projected revenue per clients
* choose an algorithm, and train it in an optimal way
* score the 500 applicants
3)	predict which clients will cause damage
* choose an algorithm, and train it in an optimal way
* score the 500 applicants
4)	for those that will wreak havoc, predict the amount of damage they will cause
* choose an algorithm, and train it in an optimal way
* score the 500 applicants
5)	create a measure of the expected value of each applicant, and create an optimal selection of 200 guests

## 0. Loading packages and dataset

In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use('seaborn-darkgrid')

C:\Users\tomas\AppData\Local\Temp\ipykernel_18512\1516664519.py:7: MatplotlibDeprecationWarning: The seaborn styles shipped by Matplotlib are deprecated since 3.6, as they no longer correspond to the styles shipped by seaborn. However, they will remain available as 'seaborn-v0_8-<style>'. Alternatively, directly use the seaborn API instead.
  plt.style.use('seaborn-darkgrid')

In [2]:
# read in data
train = pd.read_csv('train_V2.csv')
score = pd.read_csv('score.csv')
#dictionary = pd.read_csv('dictionary.csv')

## 1. Data exploration

1. and 2: number of features and observations

In [3]:
train.shape

(5000, 53)

In [4]:
score.shape

(500, 50)

In [19]:
train.head().T

                              0         1         2         3            4
income_am                 227.0     268.0     283.0     227.0       4091.0
profit_last_am              0.0      16.0      23.0       0.0       1028.0
profit_am                3201.0    1682.0    1673.0    1685.0       3425.0
damage_am                 888.0       0.0       0.0       0.0        785.0
damage_inc                  6.0       0.0       0.0       0.0          2.0
crd_lim_rec             15000.0     750.0     750.0       0.0      14000.0
credit_use_ic               0.0       0.0       0.0       0.0          0.0
gluten_ic                   0.0       0.0       0.0       0.0          0.0
lactose_ic                  0.0       0.0       0.0       0.0          1.0
insurance_ic                0.0       1.0       1.0       0.0          0.0
spa_ic                      1.0       1.0       0.0       0.0          1.0
empl_ic                     0.0       0.0       0.0       0.0          0.0
cab_requests                3.0       7.0       1.0       6.0          4.0
married_cd                 True      True      True      True        False
bar_no                      2.0       3.0       4.0       8.0          2.0
sport_ic                    1.0       0.0       0.0       1.0          1.0
neighbor_income         28936.0   16674.0   32552.0   32252.0      29605.0
age                        37.0      18.0      21.0      37.0         26.0
marketing_permit            0.0       0.0       0.0       0.0          0.0
urban_ic                    1.0       0.0       1.0       1.0          1.0
dining_ic                   0.0       0.0       0.0       0.0          0.0
presidential                0.0       0.0       0.0       0.0          0.0
client_segment              1.0       1.0       1.0       1.0          2.0
sect_empl                   1.0       0.0       0.0       0.0          0.0
prev_stay                   1.0       0.0       1.0       1.0          1.0
prev_all_in_stay            1.0       0.0       0.0       0.0          0.0
divorce                     0.0       0.0       0.0       0.0          0.0
fam_adult_size              3.0       1.0       1.0       3.0          2.0
children_no                 2.0       0.0       0.0       2.0          0.0
tenure_mts                476.0      27.0      95.0       NaN        354.0
tenure_yrs                 40.0       2.0       8.0       NaN         30.0
company_ic                  0.0       0.0       0.0       0.0          0.0
claims_no                   0.0       0.0       0.0       0.0          0.0
claims_am                   0.0       0.0       0.0       0.0          0.0
nights_booked             209.0       4.0       6.0       4.0          3.0
gender                        M         M         M         V            V
shop_am                     0.0       0.0       0.0       0.0  1454.210627
shop_use                    0.0       0.0       0.0       0.0          1.0
retired                     0.0       0.0       0.0       0.0          0.0
gold_status                 0.0       0.0       0.0       0.0          0.0
score1_pos             0.467768       NaN       NaN       NaN          NaN
score1_neg              0.98334       NaN       NaN       NaN          NaN
score2_pos                  NaN       NaN  0.232375       NaN          NaN
score2_neg                  NaN       NaN  0.099529       NaN          NaN
score3_pos                  NaN       NaN       NaN       NaN     0.330503
score3_neg                  NaN       NaN       NaN  0.889793     0.766294
score4_pos             0.838147       NaN       NaN       NaN     0.490486
score4_neg             0.082288       NaN       NaN       NaN     0.542445
score5_pos                  NaN       NaN  0.101955       NaN          NaN
score5_neg                  NaN  7.955259   1.74302       NaN          NaN
outcome_profit          1791.66   1672.78    1001.4   1785.59      3140.74
outcome_damage_inc            0         1         0         0            0
outcome_damage_amount       0.0    829.66       0.0       0.0          0.0

In [20]:
score.head().T

                            0        1         2        3        4
income_am              5660.0   3990.0    1158.0   2451.0    946.0
profit_last_am         4320.0      9.0      82.0    791.0    222.0
profit_am              8640.0   3450.0    4194.0   2119.0   2036.0
damage_am                 0.0      0.0     408.0      0.0      0.0
damage_inc                0.0      0.0       4.0      0.0      0.0
crd_lim_rec            8000.0  12500.0   12000.0      0.0      0.0
credit_use_ic             0.0      0.0       0.0      0.0      0.0
gluten_ic                 0.0      0.0       0.0      0.0      0.0
lactose_ic                1.0      0.0       0.0      0.0      1.0
insurance_ic              0.0      1.0       1.0      1.0      0.0
spa_ic                    0.0      0.0       1.0      1.0      0.0
empl_ic                   0.0      0.0       0.0      0.0      0.0
cab_requests             11.0      7.0      10.0      4.0      5.0
married_cd               True     True      True     True     True
bar_no                    6.0      5.0      11.0      5.0      0.0
sport_ic                  1.0      0.0       1.0      0.0      0.0
neighbor_income       34033.0  36372.0   37619.0  29266.0  36221.0
age                      42.0     42.0      38.0     66.0     63.0
marketing_permit          1.0      0.0       1.0      1.0      0.0
urban_ic                  1.0      1.0       1.0      1.0      1.0
dining_ic                 0.0      0.0       0.0      0.0      0.0
presidential              0.0      0.0       0.0      0.0      0.0
client_segment            2.0      1.0       1.0      1.0      2.0
sect_empl                 1.0      1.0       0.0      0.0      0.0
prev_stay                 1.0      1.0       1.0      0.0      1.0
prev_all_in_stay          1.0      0.0       1.0      0.0      1.0
divorce                   0.0      0.0       0.0      0.0      0.0
fam_adult_size            3.0      2.0       3.0      1.0      1.0
children_no               2.0      0.0       1.0      0.0      0.0
tenure_mts              575.0    174.0     229.0    375.0    417.0
tenure_yrs               48.0     15.0      19.0     31.0     35.0
company_ic                0.0      0.0       0.0      0.0      0.0
claims_no                 0.0      0.0       0.0      0.0      0.0
claims_am                 0.0      0.0       0.0      0.0      0.0
nights_booked            52.0      4.0     222.0      3.0     34.0
gender                      V        M         M        M        V
shop_am           4577.729167      0.0       0.0      0.0      0.0
shop_use                  1.0      0.0       0.0      0.0      0.0
retired                   0.0      0.0       0.0      0.0      0.0
gold_status               1.0      0.0       0.0      0.0      0.0
score1_pos           0.538419      NaN  0.009811      NaN      NaN
score1_neg           0.396819      NaN  0.592842      NaN      NaN
score2_pos           0.423742      NaN       NaN      NaN      NaN
score2_neg           0.763608      NaN       NaN      NaN      NaN
score3_pos                NaN      NaN  0.252444      NaN      NaN
score3_neg                NaN      NaN  0.724693      NaN      NaN
score4_pos                NaN      NaN  0.818064      NaN      NaN
score4_neg                NaN      NaN  0.387361      NaN      NaN
score5_pos                NaN      NaN       NaN      NaN      NaN
score5_neg                NaN      NaN       NaN      NaN      NaN

In [17]:
train.describe().T

,count,mean,std,min,25%,50%,75%,max
income_am,4947.0,2281.260158,8365.254507,0.000000e+00,229.000000,469.000000,1688.000000,360577.000000
profit_last_am,4947.0,696.057712,3051.119275,0.000000e+00,0.000000,52.000000,810.000000,150537.000000
profit_am,4947.0,3637.900950,5726.625669,0.000000e+00,1638.000000,1889.000000,3165.500000,100577.000000
damage_am,4954.0,145.952967,581.068095,0.000000e+00,0.000000,0.000000,0.000000,14866.000000
damage_inc,4947.0,0.352335,0.889449,0.000000e+00,0.000000,0.000000,0.000000,10.000000
crd_lim_rec,4947.0,3298.716394,4549.646039,0.000000e+00,0.000000,1500.000000,5000.000000,30000.000000
credit_use_ic,4947.0,0.041237,0.198858,0.000000e+00,0.000000,0.000000,0.000000,1.000000
gluten_ic,4947.0,0.024661,0.155107,0.000000e+00,0.000000,0.000000,0.000000,1.000000
lactose_ic,4947.0,0.094199,0.292134,0.000000e+00,0.000000,0.000000,0.000000,1.000000
insurance_ic,4947.0,0.390944,0.488011,0.000000e+00,0.000000,0.000000,1.000000,1.000000
spa_ic,4970.0,0.401811,0.490313,0.000000e+00,0.000000,0.000000,1.000000,1.000000
empl_ic,4999.0,0.024205,0.153700,0.000000e+00,0.000000,0.000000,0.000000,1.000000
cab_requests,4912.0,6.051507,3.112104,0.000000e+00,3.000000,6.000000,9.000000,16.000000
bar_no,4947.0,5.646250,5.052513,0.000000e+00,2.000000,5.000000,8.000000,111.000000
sport_ic,4947.0,0.287043,0.452427,0.000000e+00,0.000000,0.000000,1.000000,1.000000
neighbor_income,4761.0,32778.558916,6858.671948,0.000000e+00,28630.000000,31990.000000,35924.000000,104984.000000
age,4947.0,44.901152,16.225094,1.600000e+01,31.000000,45.000000,57.000000,97.000000
marketing_permit,4947.0,0.495452,0.500030,0.000000e+00,0.000000,0.000000,1.000000,1.000000
urban_ic,4947.0,0.883970,0.320293,0.000000e+00,1.000000,1.000000,1.000000,1.000000
dining_ic,4912.0,0.049267,0.216447,0.000000e+00,0.000000,0.000000,0.000000,1.000000
presidential,4912.0,0.004275,0.065252,0.000000e+00,0.000000,0.000000,0.000000,1.000000
client_segment,4947.0,1.298565,0.800831,0.000000e+00,1.000000,1.000000,2.000000,5.000000
sect_empl,4947.0,0.213463,0.826006,0.000000e+00,0.000000,0.000000,0.000000,6.000000
prev_stay,4947.0,0.889832,0.313130,0.000000e+00,1.000000,1.000000,1.000000,1.000000
prev_all_in_stay,4947.0,0.252678,0.434592,0.000000e+00,0.000000,0.000000,1.000000,1.000000
divorce,4947.0,0.102486,0.303317,0.000000e+00,0.000000,0.000000,0.000000,1.000000
fam_adult_size,4947.0,1.960986,0.805545,1.000000e+00,1.000000,2.000000,3.000000,4.000000
children_no,4947.0,0.385082,0.832933,0.000000e+00,0.000000,0.000000,0.000000,6.000000
tenure_mts,4608.0,273.111545,152.498416,0.000000e+00,154.000000,271.000000,368.250000,679.000000
tenure_yrs,4608.0,22.780165,12.719429,0.000000e+00,13.000000,23.000000,31.000000,57.000000
company_ic,4947.0,0.018597,0.135111,0.000000e+00,0.000000,0.000000,0.000000,1.000000
claims_no,4947.0,0.218314,0.712408,0.000000e+00,0.000000,0.000000,0.000000,9.000000
claims_am,4973.0,121.078826,1783.146726,0.000000e+00,0.000000,0.000000,0.000000,90587.000000
nights_booked,4947.0,28.992521,37.480510,1.000000e+00,4.000000,11.000000,45.000000,375.000000
shop_am,4947.0,403.019960,1335.935144,0.000000e+00,0.000000,0.000000,0.000000,12098.364339
shop_use,4912.0,0.151873,0.358934,0.000000e+00,0.000000,0.000000,0.000000,1.000000
retired,4947.0,0.182131,0.385991,0.000000e+00,0.000000,0.000000,0.000000,1.000000
gold_status,4947.0,0.034769,0.183212,0.000000e+00,0.000000,0.000000,0.000000,1.000000
score1_pos,1225.0,0.499736,0.287925,1.000000e-07,0.252021,0.497416,0.748728,1.000000
score1_neg,1314.0,0.500366,0.288717,1.000000e-07,0.251034,0.498621,0.751673,1.000000
score2_pos,1209.0,0.498552,0.287757,1.000000e-07,0.252128,0.498779,0.744140,1.000000
score2_neg,1304.0,0.496734,0.289799,1.000000e-07,0.245421,0.498583,0.747493,0.998651
score3_pos,1261.0,0.494280,0.289917,1.000000e-07,0.240557,0.494246,0.744923,1.000000
score3_neg,1367.0,0.498588,0.287729,1.000000e-07,0.249506,0.501646,0.746483,1.000000
score4_pos,1223.0,0.496206,0.288654,1.000000e-07,0.247410,0.493349,0.745213,1.000000
score4_neg,1324.0,0.501396,0.287623,1.000000e-07,0.250670,0.502060,0.749388,0.999312
score5_pos,1232.0,0.500959,0.290132,1.000000e-07,0.251490,0.502912,0.751282,1.000000
score5_neg,1493.0,5.192953,3.159868,-7.871775e+00,3.124958,5.188006,7.357425,14.776319
outcome_profit,5000.0,1967.310930,1371.061266,1.068000e+01,1333.320000,1721.235000,2223.712500,31529.000000
outcome_damage_inc,5000.0,0.255400,0.436129,0.000000e+00,0.000000,0.000000,1.000000,1.000000
outcome_damage_amount,5000.0,189.970736,379.005941,0.000000e+00,0.000000,0.000000,202.612500,3157.240000

In [18]:
score.describe().T

,count,mean,std,min,25%,50%,75%,max
income_am,496.0,2573.516129,7019.691435,227.000000,232.500000,528.500000,2223.750000,122993.000000
profit_last_am,496.0,633.254032,1136.802174,0.000000,0.000000,101.500000,817.000000,9463.000000
profit_am,496.0,3891.360887,5284.425448,1620.000000,1637.000000,1955.000000,3578.500000,42142.000000
damage_am,497.0,148.293763,436.478086,0.000000,0.000000,0.000000,0.000000,3343.000000
damage_inc,496.0,0.385081,0.911708,0.000000,0.000000,0.000000,0.000000,7.000000
crd_lim_rec,496.0,3388.104839,4620.095504,0.000000,0.000000,750.000000,5000.000000,15000.000000
credit_use_ic,496.0,0.034274,0.182116,0.000000,0.000000,0.000000,0.000000,1.000000
gluten_ic,496.0,0.024194,0.153805,0.000000,0.000000,0.000000,0.000000,1.000000
lactose_ic,496.0,0.090726,0.287509,0.000000,0.000000,0.000000,0.000000,1.000000
insurance_ic,496.0,0.385081,0.487106,0.000000,0.000000,0.000000,1.000000,1.000000
spa_ic,498.0,0.353414,0.478510,0.000000,0.000000,0.000000,1.000000,1.000000
empl_ic,500.0,0.014000,0.117608,0.000000,0.000000,0.000000,0.000000,1.000000
cab_requests,495.0,5.886869,2.936461,0.000000,4.000000,6.000000,8.000000,14.000000
bar_no,496.0,5.572581,4.465669,0.000000,3.000000,5.000000,8.000000,44.000000
sport_ic,496.0,0.280242,0.449571,0.000000,0.000000,0.000000,1.000000,1.000000
neighbor_income,479.0,32676.807933,6170.830312,15088.000000,28884.000000,32155.000000,35774.500000,56332.000000
age,496.0,44.336694,15.834419,16.000000,32.000000,44.000000,56.000000,84.000000
marketing_permit,496.0,0.495968,0.500489,0.000000,0.000000,0.000000,1.000000,1.000000
urban_ic,496.0,0.877016,0.328750,0.000000,1.000000,1.000000,1.000000,1.000000
dining_ic,495.0,0.050505,0.219206,0.000000,0.000000,0.000000,0.000000,1.000000
presidential,495.0,0.002020,0.044947,0.000000,0.000000,0.000000,0.000000,1.000000
client_segment,496.0,1.336694,0.797436,0.000000,1.000000,1.000000,2.000000,5.000000
sect_empl,496.0,0.191532,0.815016,0.000000,0.000000,0.000000,0.000000,6.000000
prev_stay,496.0,0.899194,0.301376,0.000000,1.000000,1.000000,1.000000,1.000000
prev_all_in_stay,496.0,0.260081,0.439121,0.000000,0.000000,0.000000,1.000000,1.000000
divorce,496.0,0.104839,0.306655,0.000000,0.000000,0.000000,0.000000,1.000000
fam_adult_size,496.0,1.993952,0.787506,1.000000,1.000000,2.000000,3.000000,3.000000
children_no,496.0,0.379032,0.853681,0.000000,0.000000,0.000000,0.000000,4.000000
tenure_mts,461.0,278.329718,154.455565,0.000000,166.000000,273.000000,376.000000,671.000000
tenure_yrs,461.0,23.206074,12.865645,0.000000,14.000000,23.000000,31.000000,56.000000
company_ic,496.0,0.014113,0.118076,0.000000,0.000000,0.000000,0.000000,1.000000
claims_no,496.0,0.187500,0.656840,0.000000,0.000000,0.000000,0.000000,7.000000
claims_am,499.0,43.376754,477.476043,0.000000,0.000000,0.000000,0.000000,9560.000000
nights_booked,496.0,28.741935,39.759808,1.000000,4.000000,6.000000,43.000000,274.000000
shop_am,496.0,417.674226,1397.625326,0.000000,0.000000,0.000000,0.000000,12267.000000
shop_use,495.0,0.159596,0.366601,0.000000,0.000000,0.000000,0.000000,1.000000
retired,496.0,0.173387,0.378964,0.000000,0.000000,0.000000,0.000000,1.000000
gold_status,496.0,0.060484,0.238622,0.000000,0.000000,0.000000,0.000000,1.000000
score1_pos,122.0,0.519385,0.296407,0.005318,0.294621,0.531987,0.777602,0.997703
score1_neg,134.0,0.499418,0.293777,0.016512,0.251502,0.479703,0.765155,1.000000
score2_pos,111.0,0.501727,0.281859,0.000767,0.279851,0.488407,0.745293,1.000000
score2_neg,124.0,0.524469,0.281483,0.002151,0.307677,0.492698,0.780450,1.000000
score3_pos,136.0,0.495096,0.286895,0.020657,0.239524,0.498884,0.775543,0.971706
score3_neg,145.0,0.485360,0.292992,0.009849,0.252781,0.447901,0.747820,0.986639
score4_pos,119.0,0.537287,0.288562,0.010242,0.301039,0.592578,0.779311,0.997018
score4_neg,126.0,0.494252,0.297017,0.013659,0.205913,0.487373,0.780295,0.985003
score5_pos,132.0,0.504806,0.303785,0.005136,0.257488,0.469705,0.796048,0.991246
score5_neg,154.0,4.826028,2.843074,-4.092944,2.744401,4.839778,6.825558,12.113542

3. Check for datatypes

In [22]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 53 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   income_am              4947 non-null   float64
 1   profit_last_am         4947 non-null   float64
 2   profit_am              4947 non-null   float64
 3   damage_am              4954 non-null   float64
 4   damage_inc             4947 non-null   float64
 5   crd_lim_rec            4947 non-null   float64
 6   credit_use_ic          4947 non-null   float64
 7   gluten_ic              4947 non-null   float64
 8   lactose_ic             4947 non-null   float64
 9   insurance_ic           4947 non-null   float64
 10  spa_ic                 4970 non-null   float64
 11  empl_ic                4999 non-null   float64
 12  cab_requests           4912 non-null   float64
 13  married_cd             5000 non-null   bool
 14  bar_no                 4947 non-null   float64
 15  sport_ic               4947 non-null   float64
 16  neighbor_income        4761 non-null   float64
 17  age                    4947 non-null   float64
 18  marketing_permit       4947 non-null   float64
 19  urban_ic               4947 non-null   float64
 20  dining_ic              4912 non-null   float64
 21  presidential           4912 non-null   float64
 22  client_segment         4947 non-null   float64
 23  sect_empl              4947 non-null   float64
 24  prev_stay              4947 non-null   float64
 25  prev_all_in_stay       4947 non-null   float64
 26  divorce                4947 non-null   float64
 27  fam_adult_size         4947 non-null   float64
 28  children_no            4947 non-null   float64
 29  tenure_mts             4608 non-null   float64
 30  tenure_yrs             4608 non-null   float64
 31  company_ic             4947 non-null   float64
 32  claims_no              4947 non-null   float64
 33  claims_am              4973 non-null   float64
 34  nights_booked          4947 non-null   float64
 35  gender                 4947 non-null   object
 36  shop_am                4947 non-null   float64
 37  shop_use               4912 non-null   float64
 38  retired                4947 non-null   float64
 39  gold_status            4947 non-null   float64
 40  score1_pos             1225 non-null   float64
 41  score1_neg             1314 non-null   float64
 42  score2_pos             1209 non-null   float64
 43  score2_neg             1304 non-null   float64
 44  score3_pos             1261 non-null   float64
 45  score3_neg             1367 non-null   float64
 46  score4_pos             1223 non-null   float64
 47  score4_neg             1324 non-null   float64
 48  score5_pos             1232 non-null   float64
 49  score5_neg             1493 non-null   float64
 50  outcome_profit         5000 non-null   float64
 51  outcome_damage_inc     5000 non-null   int64
 52  outcome_damage_amount  5000 non-null   float64
dtypes: bool(1), float64(50), int64(1), object(1)
memory usage: 2.0+ MB

4. and 5. Check for missing data

In [10]:
score.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 50 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   income_am         496 non-null    float64
 1   profit_last_am    496 non-null    float64
 2   profit_am         496 non-null    float64
 3   damage_am         497 non-null    float64
 4   damage_inc        496 non-null    float64
 5   crd_lim_rec       496 non-null    float64
 6   credit_use_ic     496 non-null    float64
 7   gluten_ic         496 non-null    float64
 8   lactose_ic        496 non-null    float64
 9   insurance_ic      496 non-null    float64
 10  spa_ic            498 non-null    float64
 11  empl_ic           500 non-null    float64
 12  cab_requests      495 non-null    float64
 13  married_cd        500 non-null    bool
 14  bar_no            496 non-null    float64
 15  sport_ic          496 non-null    float64
 16  neighbor_income   479 non-null    float64
 17  age               496 non-null    float64
 18  marketing_permit  496 non-null    float64
 19  urban_ic          496 non-null    float64
 20  dining_ic         495 non-null    float64
 21  presidential      495 non-null    float64
 22  client_segment    496 non-null    float64
 23  sect_empl         496 non-null    float64
 24  prev_stay         496 non-null    float64
 25  prev_all_in_stay  496 non-null    float64
 26  divorce           496 non-null    float64
 27  fam_adult_size    496 non-null    float64
 28  children_no       496 non-null    float64
 29  tenure_mts        461 non-null    float64
 30  tenure_yrs        461 non-null    float64
 31  company_ic        496 non-null    float64
 32  claims_no         496 non-null    float64
 33  claims_am         499 non-null    float64
 34  nights_booked     496 non-null    float64
 35  gender            496 non-null    object
 36  shop_am           496 non-null    float64
 37  shop_use          495 non-null    float64
 38  retired           496 non-null    float64
 39  gold_status       496 non-null    float64
 40  score1_pos        122 non-null    float64
 41  score1_neg        134 non-null    float64
 42  score2_pos        111 non-null    float64
 43  score2_neg        124 non-null    float64
 44  score3_pos        136 non-null    float64
 45  score3_neg        145 non-null    float64
 46  score4_pos        119 non-null    float64
 47  score4_neg        126 non-null    float64
 48  score5_pos        132 non-null    float64
 49  score5_neg        154 non-null    float64
dtypes: bool(1), float64(48), object(1)
memory usage: 192.0+ KB

In [15]:
train.isnull().sum()[train.isnull().sum() != 0]
score.isnull().sum()[score.isnull().sum() != 0]

income_am             4
profit_last_am        4
profit_am             4
damage_am             3
damage_inc            4
crd_lim_rec           4
credit_use_ic         4
gluten_ic             4
lactose_ic            4
insurance_ic          4
spa_ic                2
cab_requests          5
bar_no                4
sport_ic              4
neighbor_income      21
age                   4
marketing_permit      4
urban_ic              4
dining_ic             5
presidential          5
client_segment        4
sect_empl             4
prev_stay             4
prev_all_in_stay      4
divorce               4
fam_adult_size        4
children_no           4
tenure_mts           39
tenure_yrs           39
company_ic            4
claims_no             4
claims_am             1
nights_booked         4
gender                4
shop_am               4
shop_use              5
retired               4
gold_status           4
score1_pos          378
score1_neg          366
score2_pos          389
score2_neg          376
score3_pos          364
score3_neg          355
score4_pos          381
score4_neg          374
score5_pos          368
score5_neg          346
dtype: int64

In [62]:
(119390- df.isnull().sum()[df.isnull().sum() != 0])/119390*100

income_am           99.955608
profit_last_am      99.955608
profit_am           99.955608
damage_am           99.961471
damage_inc          99.955608
crd_lim_rec         99.955608
credit_use_ic       99.955608
gluten_ic           99.955608
lactose_ic          99.955608
insurance_ic        99.955608
spa_ic              99.974872
empl_ic             99.999162
cab_requests        99.926292
bar_no              99.955608
sport_ic            99.955608
neighbor_income     99.799816
age                 99.955608
marketing_permit    99.955608
urban_ic            99.955608
dining_ic           99.926292
presidential        99.926292
client_segment      99.955608
sect_empl           99.955608
prev_stay           99.955608
prev_all_in_stay    99.955608
divorce             99.955608
fam_adult_size      99.955608
children_no         99.955608
tenure_mts          99.671664
tenure_yrs          99.671664
company_ic          99.955608
claims_no           99.955608
claims_am           99.977385
nights_booked       99.955608
gender              99.955608
shop_am             99.955608
shop_use            99.926292
retired             99.955608
gold_status         99.955608
score1_pos          96.838094
score1_neg          96.912639
score2_pos          96.824692
score2_neg          96.904263
score3_pos          96.868247
score3_neg          96.957032
score4_pos          96.836418
score4_neg          96.921015
score5_pos          96.843957
score5_neg          97.062568
dtype: float64

## b) Look at the data

In [63]:
train.iloc[:,0:16].head()

,income_am,profit_last_am,profit_am,damage_am,damage_inc,crd_lim_rec,credit_use_ic,gluten_ic,lactose_ic,insurance_ic,spa_ic,empl_ic,cab_requests,married_cd,bar_no,sport_ic
0,227.0,0.0,3201.0,888.0,6.0,15000.0,0.0,0.0,0.0,0.0,1.0,0.0,3.0,True,2.0,1.0
1,268.0,16.0,1682.0,0.0,0.0,750.0,0.0,0.0,0.0,1.0,1.0,0.0,7.0,True,3.0,0.0
2,283.0,23.0,1673.0,0.0,0.0,750.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,True,4.0,0.0
3,227.0,0.0,1685.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,True,8.0,1.0
4,4091.0,1028.0,3425.0,785.0,2.0,14000.0,0.0,0.0,1.0,0.0,1.0,0.0,4.0,False,2.0,1.0

In [65]:
train.iloc[:,16:53].head()

,neighbor_income,age,marketing_permit,urban_ic,dining_ic,presidential,client_segment,sect_empl,prev_stay,prev_all_in_stay,...,score2_neg,score3_pos,score3_neg,score4_pos,score4_neg,score5_pos,score5_neg,outcome_profit,outcome_damage_inc,outcome_damage_amount
0,28936.0,37.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,0.838147,0.082288,NaN,NaN,1791.66,0,0.00
1,16674.0,18.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,7.955259,1672.78,1,829.66
2,32552.0,21.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,...,0.099529,NaN,NaN,NaN,NaN,0.101955,1.743020,1001.40,0,0.00
3,32252.0,37.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,...,NaN,NaN,0.889793,NaN,NaN,NaN,NaN,1785.59,0,0.00
4,29605.0,26.0,0.0,1.0,0.0,0.0,2.0,0.0,1.0,0.0,...,NaN,0.330503,0.766294,0.490486,0.542445,NaN,NaN,3140.74,0,0.00

In [66]:
score.iloc[:,0:16].head()

,income_am,profit_last_am,profit_am,damage_am,damage_inc,crd_lim_rec,credit_use_ic,gluten_ic,lactose_ic,insurance_ic,spa_ic,empl_ic,cab_requests,married_cd,bar_no,sport_ic
0,5660.0,4320.0,8640.0,0.0,0.0,8000.0,0.0,0.0,1.0,0.0,0.0,0.0,11.0,True,6.0,1.0
1,3990.0,9.0,3450.0,0.0,0.0,12500.0,0.0,0.0,0.0,1.0,0.0,0.0,7.0,True,5.0,0.0
2,1158.0,82.0,4194.0,408.0,4.0,12000.0,0.0,0.0,0.0,1.0,1.0,0.0,10.0,True,11.0,1.0
3,2451.0,791.0,2119.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,4.0,True,5.0,0.0
4,946.0,222.0,2036.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,5.0,True,0.0,0.0

In [67]:
score.iloc[:,16:53].head()

,neighbor_income,age,marketing_permit,urban_ic,dining_ic,presidential,client_segment,sect_empl,prev_stay,prev_all_in_stay,...,score1_pos,score1_neg,score2_pos,score2_neg,score3_pos,score3_neg,score4_pos,score4_neg,score5_pos,score5_neg
0,34033.0,42.0,1.0,1.0,0.0,0.0,2.0,1.0,1.0,1.0,...,0.538419,0.396819,0.423742,0.763608,NaN,NaN,NaN,NaN,NaN,NaN
1,36372.0,42.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,37619.0,38.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,...,0.009811,0.592842,NaN,NaN,0.252444,0.724693,0.818064,0.387361,NaN,NaN
3,29266.0,66.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,36221.0,63.0,0.0,1.0,0.0,0.0,2.0,0.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [68]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 50 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   income_am         496 non-null    float64
 1   profit_last_am    496 non-null    float64
 2   profit_am         496 non-null    float64
 3   damage_am         497 non-null    float64
 4   damage_inc        496 non-null    float64
 5   crd_lim_rec       496 non-null    float64
 6   credit_use_ic     496 non-null    float64
 7   gluten_ic         496 non-null    float64
 8   lactose_ic        496 non-null    float64
 9   insurance_ic      496 non-null    float64
 10  spa_ic            498 non-null    float64
 11  empl_ic           500 non-null    float64
 12  cab_requests      495 non-null    float64
 13  married_cd        500 non-null    bool
 14  bar_no            496 non-null    float64
 15  sport_ic          496 non-null    float64
 16  neighbor_income   479 non-null    float64
 17  age               496 non-null    float64
 18  marketing_permit  496 non-null    float64
 19  urban_ic          496 non-null    float64
 20  dining_ic         495 non-null    float64
 21  presidential      495 non-null    float64
 22  client_segment    496 non-null    float64
 23  sect_empl         496 non-null    float64
 24  prev_stay         496 non-null    float64
 25  prev_all_in_stay  496 non-null    float64
 26  divorce           496 non-null    float64
 27  fam_adult_size    496 non-null    float64
 28  children_no       496 non-null    float64
 29  tenure_mts        461 non-null    float64
 30  tenure_yrs        461 non-null    float64
 31  company_ic        496 non-null    float64
 32  claims_no         496 non-null    float64
 33  claims_am         499 non-null    float64
 34  nights_booked     496 non-null    float64
 35  gender            496 non-null    object
 36  shop_am           496 non-null    float64
 37  shop_use          495 non-null    float64
 38  retired           496 non-null    float64
 39  gold_status       496 non-null    float64
 40  score1_pos        122 non-null    float64
 41  score1_neg        134 non-null    float64
 42  score2_pos        111 non-null    float64
 43  score2_neg        124 non-null    float64
 44  score3_pos        136 non-null    float64
 45  score3_neg        145 non-null    float64
 46  score4_pos        119 non-null    float64
 47  score4_neg        126 non-null    float64
 48  score5_pos        132 non-null    float64
 49  score5_neg        154 non-null    float64
dtypes: bool(1), float64(48), object(1)
memory usage: 192.0+ KB

In [69]:
score.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 50 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   income_am         496 non-null    float64
 1   profit_last_am    496 non-null    float64
 2   profit_am         496 non-null    float64
 3   damage_am         497 non-null    float64
 4   damage_inc        496 non-null    float64
 5   crd_lim_rec       496 non-null    float64
 6   credit_use_ic     496 non-null    float64
 7   gluten_ic         496 non-null    float64
 8   lactose_ic        496 non-null    float64
 9   insurance_ic      496 non-null    float64
 10  spa_ic            498 non-null    float64
 11  empl_ic           500 non-null    float64
 12  cab_requests      495 non-null    float64
 13  married_cd        500 non-null    bool
 14  bar_no            496 non-null    float64
 15  sport_ic          496 non-null    float64
 16  neighbor_income   479 non-null    float64
 17  age               496 non-null    float64
 18  marketing_permit  496 non-null    float64
 19  urban_ic          496 non-null    float64
 20  dining_ic         495 non-null    float64
 21  presidential      495 non-null    float64
 22  client_segment    496 non-null    float64
 23  sect_empl         496 non-null    float64
 24  prev_stay         496 non-null    float64
 25  prev_all_in_stay  496 non-null    float64
 26  divorce           496 non-null    float64
 27  fam_adult_size    496 non-null    float64
 28  children_no       496 non-null    float64
 29  tenure_mts        461 non-null    float64
 30  tenure_yrs        461 non-null    float64
 31  company_ic        496 non-null    float64
 32  claims_no         496 non-null    float64
 33  claims_am         499 non-null    float64
 34  nights_booked     496 non-null    float64
 35  gender            496 non-null    object
 36  shop_am           496 non-null    float64
 37  shop_use          495 non-null    float64
 38  retired           496 non-null    float64
 39  gold_status       496 non-null    float64
 40  score1_pos        122 non-null    float64
 41  score1_neg        134 non-null    float64
 42  score2_pos        111 non-null    float64
 43  score2_neg        124 non-null    float64
 44  score3_pos        136 non-null    float64
 45  score3_neg        145 non-null    float64
 46  score4_pos        119 non-null    float64
 47  score4_neg        126 non-null    float64
 48  score5_pos        132 non-null    float64
 49  score5_neg        154 non-null    float64
dtypes: bool(1), float64(48), object(1)
memory usage: 192.0+ KB

## c) Look at the descriptives
1. For which features do you suspect outliers?
2. Which of these outliers seem most suspicious? Which would you certainly check if you were able to?

In [70]:
train.iloc[:,0:16].head()

,income_am,profit_last_am,profit_am,damage_am,damage_inc,crd_lim_rec,credit_use_ic,gluten_ic,lactose_ic,insurance_ic,spa_ic,empl_ic,cab_requests,married_cd,bar_no,sport_ic
0,227.0,0.0,3201.0,888.0,6.0,15000.0,0.0,0.0,0.0,0.0,1.0,0.0,3.0,True,2.0,1.0
1,268.0,16.0,1682.0,0.0,0.0,750.0,0.0,0.0,0.0,1.0,1.0,0.0,7.0,True,3.0,0.0
2,283.0,23.0,1673.0,0.0,0.0,750.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,True,4.0,0.0
3,227.0,0.0,1685.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,True,8.0,1.0
4,4091.0,1028.0,3425.0,785.0,2.0,14000.0,0.0,0.0,1.0,0.0,1.0,0.0,4.0,False,2.0,1.0

In [71]:
score.iloc[:,0:16].head()

,income_am,profit_last_am,profit_am,damage_am,damage_inc,crd_lim_rec,credit_use_ic,gluten_ic,lactose_ic,insurance_ic,spa_ic,empl_ic,cab_requests,married_cd,bar_no,sport_ic
0,5660.0,4320.0,8640.0,0.0,0.0,8000.0,0.0,0.0,1.0,0.0,0.0,0.0,11.0,True,6.0,1.0
1,3990.0,9.0,3450.0,0.0,0.0,12500.0,0.0,0.0,0.0,1.0,0.0,0.0,7.0,True,5.0,0.0
2,1158.0,82.0,4194.0,408.0,4.0,12000.0,0.0,0.0,0.0,1.0,1.0,0.0,10.0,True,11.0,1.0
3,2451.0,791.0,2119.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,4.0,True,5.0,0.0
4,946.0,222.0,2036.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,5.0,True,0.0,0.0

2. Convert categorical